body {
    background: #dadada;
  }
  /* every box is this size */
  
.box{
    padding: 10px;
    background: white;
    margin-top:50px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:20px;
    align-content: center;
  }
  
.navbar-nav li{
    padding: 2px;
    margin: 0 2px;
}


  h1 {
    font-size: 35px;
    color: #00a3ad;
    margin-left:5%;
    margin-top:5%;
  }

  h2 {
    font-size: 26px;
    color: #00a3ad;
    margin-left:10%;
    margin-top:10%;
    padding:5%;
    text-align: left;
  }

  
  p{
      font-size: 20px;
      margin-left:5%;
  }
  
  
  .navbar-brand {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    background-color: #00a3ad;
    padding: 15px;
  }

  .box_maxtemp img{
    display: inline-block;
  }

  table{background-color: white;}

  /* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
  @media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
    .box {
      margin-right: 20px;
      margin-left: 20px;
    }
    .navbar ul {
      visibility: hidden;
    }
    #nav-select {
      visibility: visible;
    }
  }
  
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      [class*="col-"] {
          width: 100%;
      }
  }
  